
<div style="position: relative; top: 100px; left: 100px; width: 400px;">

	<div style="position: absolute; top: 200px; right: 100px;">

		<button class='o-buttons o-buttons--big demo-tooltip-target' id="demo-tooltip-target">
			Share
		</button>

	</div>

</div>

<div data-o-component="o-tooltip"
data-o-tooltip-position="below"
data-o-tooltip-target="demo-tooltip-target"
data-o-tooltip-show-on-click="true">
	<div class='o-tooltip-content'>
		Share this article via email
	</div>
</div>
